DATABASE_URL=postgresql://postgres.tefvwuuyudnbdlzsfroe:CHANGE_THIS_DB_PASSWORD@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres?uselibpqcompat=true&sslmode=require
AUTH_SECRET=replace-with-at-least-32-characters
APP_ENCRYPTION_KEY=replace-with-at-least-32-characters
NEXTAUTH_URL=http://localhost:3000
